sentence-transformers==2.2.2
langchain
flask
pydf
python-dotenv
pinecone[grpc]
langchain_pinecone
langchain_community
langchain_openai
langchain_experimental
transformers
accelerate
langchain_huggingface
langchain_groq